# Entornos Virtuales
.venv/
venv/
env/
__pycache__/
*.pyc

# Node / Frontend
node_modules/
dist/
.next/
build/
.turbo/

# Archivos de SO
.DS_Store
Thumbs.db

# Variables de Entorno (¡Importante!)
.env
.env.local

# Bases de datos locles
*.sqlite3
*.db

# Logs
*.log

# Cargas masivas grandes
data_import/*.csv
data_import/*.xlsx
*.dump

# C# build outputs
MorpheusInventoryAgent/bin/
MorpheusInventoryAgent/obj/
MorpheusInventoryAgent/publish/
MorpheusInventoryAgent/publish_win64/
MorpheusInventoryAgent/publish_windows/
MorpheusInventoryAgent/publish_windows_final/
